.mm{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}
.mx{
    width: 450px;
    height: 450px;
    border: 1px solid;
    text-align: center;
     background-color: aliceblue;
     color: black;
     border-radius: 25px;
     
}
.rasms{
    width: 100px;
}
.tags{
    text-align: center;
}
body{
    background-color: black;
    color: white;
}