/* .mm{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.mx{
    width: 473px;
    height: 400px;
    border: 4px solid;
    text-align: center;
     background-color: rgb(243, 243, 243);
     color: black;
     border-radius: 25px;
}
.rasms{
    width: 100px;
}
.tags{
    text-align: center;
}
body{
    background-color: black;
    color: white;
}
.mx:hover{
    border-color: cyan;
    transition: 1s;
}
.froma{
    width: 1200px;
    margin: auto;
    text-align: center;
    
}
.aa{
    background-color: rgb(134, 134, 136);
    color: white;
    height: 30px;
    width: 120px;
    border: none;
    border-radius: 15px;
}
.xx{
    background-color: rgb(0, 0, 0);
    color: rgb(161, 161, 161);
    height: 30px;
    width: 300px;
    border-radius: 15px;
    border-color: white;
} */

body{
    background-color: black;
}

.App{
    width: 100%;
}
.m{
    width: 1200px;
    margin: auto;
}
.x{
    margin: auto;
    width: 400px;
    height: 400px;
    border: 1px solid;
    border-radius: 20px;
    margin-top: 100px;
    background-color: rgb(213, 213, 213);
}
.users{
    width: 90%;
    margin-top: 20px;
    margin-left: 20px;
    height: 30px;
    border-radius: 20px;
}
.paswords{
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    height: 30px;
    border-radius: 20px;
}
.files{
    width: 90%;
    margin-left: 25px;
    margin-top: 10px;

}
.butoncha{
    width: 200px;
    height: 40px;
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 15px;
    color: white;
    background-color: rgb(10, 10, 43);
    border-color: white;
    border: 3px solid;
}
.af{
    text-align: center;
}