.mm{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.mx{
    width: 473px;
    height: 400px;
    border: 4px solid;
    text-align: center;
     background-color: rgb(243, 243, 243);
     color: black;
     border-radius: 25px;
}
.rasms{
    width: 100px;
}
.tags{
    text-align: center;
}
body{
    background-color: black;
    color: white;
}
.mx:hover{
    border-color: cyan;
    transition: 1s;
}
.froma{
    width: 1200px;
    margin: auto;
    text-align: center;
    
}
